.breadcrumb-div {
   margin-top: 0.3125rem;
   margin-bottom: 0.9375rem;
   /* Increased separation */
   position: sticky;
}

.breadcrumb-link {
   font-weight: bold !important;
   color: #8E9F4F !important;
   font-size: 0.875rem !important;
}

[data-theme='dark'] .breadcrumb-link {
   color: #ACBF60 !important;
}

.breadcrumb-link:hover {
   color: white !important;
   background-color: rgba(172, 191, 96, 0.2) !important;
}

[data-theme='dark'] .breadcrumb-link:hover {
   background-color: rgba(172, 191, 96, 0.3) !important;
}
